* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif ;
}

#Skills {
    background-color: indigo;
}

body::before {
    display: block;
    content: '';
    height: 70px;
}

#About img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
} 

#About img:hover {
    transform: scale(.8);
} 

#Skills img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

#Skills img:hover {
    transform: scale(.8);
}

#Home {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 200%;
}

#About {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.span_1 {
    animation: changeColor 3s infinite;
}

.span_0 {
    animation: changeColor 3s infinite;
}

@keyframes changeColor {
    0% {
        color: red;
    }
    25% {
        color: blue;
    }
    50% {
        color: green;
    }
    75% {
        color: orange;
    }
    100% {
        color: red;
    }
}

